<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="${currentdir}/internal-nlog-AspNetCore.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="allfile" fileName="${currentdir}/logs/beatIt-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} | ${exception:format=tostring}" />

    <target xsi:type="File" name="ownFile-web" fileName="${currentdir}/logs/beatIt-own-${shortdate}.log"
            layout="${longdate} | ${event-properties:item=EventId:whenEmpty=0}    | ${level:uppercase=true}|${logger:whenEmpty=None}|${message} | ${exception:format=tostring}|url: ${aspnet-request-urlwhenEmpty=None} |action: ${aspnet-mvc-actionwhenEmpty=None}" />

    <target xsi:type="Console" name="lifetimeConsole" 
            layout="${time} | ${event-properties:item=EventId:whenEmpty=0} | ${level:uppercase=true} | ${logger} | ${message}" />
    <target xsi:type="Console" name="console" 
            layout="${time} | ${event-properties:item=EventId:whenEmpty=0} | ${level:uppercase=true} | ${logger} | ${message}" />
  </targets>

  <rules>
  
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="BeatIt*" finalMinLevel="Info" writeTo="console" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" writeTo="lifetimeConsole" />

    <logger name="*" minLevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>